//TEXT SIZE
$map-text-size: (
	"tiny": 1.5rem,
	"small": 2rem,
	"medium": 2.5rem,
	"big": 3rem,
	"bigger": 3.5rem);

//TEXT WEIGHT
$map-text-weight: (
	"light": 200,
	"medium": 400,
	"bold": bold,
);

//COLORS
$map-colors: (
	"dark": #212121,
	"blue": #2286c3,
	"blue-light": #64b5f6,
	"gray": #e5e5e5,
	"gray-lighter": #eeeeee,
	"danger": #EF9A9A,
);