@import "./styles/functions.scss";
@import './styles/animations.scss';
@import './styles/ant-design-custom.scss';

//GENERALES
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Reset para Rems, 62.5% equivale a 10px de 16px */
  line-height: 1.4;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: getColor("gray-lighter");
}

.contenedor {
  width: 95%;
  margin: 0 auto;
  max-width: 1500px;
}

.section {
  padding: 1.5rem 0;
}

button {
  border: none;
  background-color: transparent;
  outline: none !important;

  &:focus {
      outline: none;
  }
}

.fullWidth {
  width: 100%;
}

.main-card {
  @extend .border-r;
  box-shadow: 0 0 .6rem -.2rem rgba(40, 40, 40, 0.75);
  background-color: white;
}

//TEXTOS

//weights
.lw-text {
  font-weight: getTextWeight("light");
}

.mw-text {
  font-weight: getTextWeight("medium");
}

.bw-text {
  font-weight: getTextWeight("bold");
}

//sizes
.tiny-text {
  font-size: getTextSize("tiny");
}

.small-text {
  font-size: getTextSize("small");
}

.medium-text {
  font-size: getTextSize("medium");
}

.big-text {
  font-size: getTextSize("big");
}

.biggest-text {
  font-size: getTextSize("bigger");
}

//COLORES
.white {
  color: white;
}

.dark {
  color: getColor("dark");
}

.blue {
  color: getColor("blue");
}

.blue-light {
  color: getColor("blue-light");
}

.gray {
  color: getColor("gray");
}

.gray-lighter {
  color: getColor("gray-lighter");
}

.danger {
  color: getColor("danger");
}

.border-r {
  border-radius: 1rem !important;
}

.blue-back {
  background-color: getColor("blue") !important;
}


